.allNoticePost {
  background-color: #f6f8fa;
}
.searchBar .css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border: none;
}

.searchBar .css-19n1zw2-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 0px;
}
