.css-1qiat4j {
  color: #e4e4e4;
}

.css-19opgx6-MuiFormControlLabel-root {
  margin: 0 !important;
}

.voteOption .css-11ael8h-MuiTypography-root {
  font-size: 0.9rem !important;
}

.css-18bbumo-MuiSvgIcon-root {
  width: 0.9em !important;
  height: 0.9em !important;
}

.voteTitlt {
  font-size: 0.9em !important;
}
